### Formating strings

In [ ]:
radius= 10
pi= 3.14

area = 2 * pi * radius

format_String='are of the circle with randiun %d is %.2f ' %(radius,area)
print(format_String)

are of the circle with randiun 10 is 62.80

In [ ]:
# old string operator %
first_name = 'Chandra'
last_name = 'Ankireddypalli'
language = 'Python'
formated_string = 'I am %s %s. I teach %s' %(first_name, last_name, language)
print(formated_string)

I am Chandra Ankireddypalli. I teach Python

In [5]:
# new string operator {}
first_name = 'Chandramohan'
last_name = 'Reddy'
language = 'Python'
formated_string = 'I am {} {}. I code {}'.format(first_name, last_name, language)
print(formated_string)

I am Chandramohan Reddy. I code Python

In [6]:
#string interpolation or f-string

print(f'My name is {first_name} { last_name} and I code in {language}')

My name is Chandramohan Reddy and I code in Python

## Loops

In [4]:
count=0
while count<5:
    print(count)
    count+=1

0
1
2
3
4

In [11]:
count =1
while count<10:
    if count%2==0:
        count+=1
        continue
    else:
        print(count)
        count+=1

1
3
5
7
9

In [14]:
for char in "language":
    print(char)

l
a
n
g
u
a
g
e

In [20]:
## Functions

def fun1(a, b):
    print(a,b)

fun1(1,2)
fun1("chandra","mohan")
fun1("chandra", 3)

1 2
chandra mohan
chandra 3

In [22]:
def fun1(a, b=2):
    print(a,b)
fun1("chandra","mohan")
fun1("chandra")

chandra mohan
chandra 2

In [ ]:
def fun1(*args):


fun1("chandra","mohan")
fun1("chandra")

chandra
mohan
------
chandra
------

In [28]:
def fun1(a, *args):
    print (a)
    for arg in args:
        print(arg)

    print("------")
fun1("chandra","end","moham","reddy","end")
fun1("chandra")

chandra
end
moham
reddy
end
------
chandra
------

In [29]:
### Modules

import main

main.generate_fullname("Chandramohan Reddy","Ankireddypalli")

Chandramohan Reddy Ankireddypalli

In [30]:
import arithmetic

arithmetic.add_numbers(3,5)

sum of 3 and 5 is : 8

In [32]:
from arithmetic import add_numbers, pi

r=5
print(f"area_of_circle: {2*pi*r}")

add_numbers(6,4)

area_of_circle: 31.400000000000002
sum of 6 and 4 is : 10

In [40]:
import random 

print(random.random())
print(random.randint(1,10))

0.9868663773198119
7

In [41]:
import string

alpha_numberics= string.ascii_letters+string.digits

In [42]:
def generate_six_id():
    print("".join(random.choice(alpha_numberics) for i in range(6)))

generate_six_id()

IOyPGy

In [45]:
def generate_user_ids():
    num1, num2= map (int, input("Enter the lenght of the id and number of ids to be generatee").split())
    for i in range(num2):
        print("".join(random.choice(alpha_numberics) for j in range(num1)))


generate_user_ids()

NpIzcwXQzdyrDQ5P
qTk9SnPFcWk1yck9
2J8DYTgZl7hMLJWv
6LweUUUQemCrysHD
nBi7NiG8jFu06Co1
TvnJss260UCE5Jwl
uq1vufaqGSl4WHGY
89LuNU8sCGnYNveL
X0GU1QtEVXWnrD2D
yb0SWxKr40t4gSsV

In [52]:
def rgb_color_gen():
    print(f"rgb({random.randint(0,255)},{random.randint(0,255)},{random.randint(0,255)})")
rgb_color_gen()

rgb(60,64,91)

In [64]:
def generate_colors(color_type, number_colors):
    if color_type=='hexa':
        colors=[]
        for j in range(number_colors):
            colors.append('#'+''.join(random.choice(alpha_numberics) for i in range(6)) )
        print(colors)

generate_colors('hexa',5)

['#Gm4QTa', '#XZyXaG', '#gaOfP7', '#tRngq8', '#nLTCvS']

In [65]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [70]:
i=10
lambda i: i+1

## Functions

In [ ]:
lambda_square = lambda n: n*2
lambda_square(3)

6

In [75]:
lambda_npowerm = lambda n,m:n**m
lambda_npowerm(2,4)

16

In [ ]:
def add_ten()

In [81]:
#nested functions and its called cloure
def npowerm(n):
    def power(m):
        return n**m
    return power

call1=npowerm(2) 
print(call1(8))

def npowerm():
    return lambda n,m: n**m

call=npowerm()
print(call(3,6))

256
729

In [ ]:
def greetings():
    return 'Welcome to Python'
print(greetings()) 

def uppercase_decorator(function):
    def wapper():
        func=function()
        return func.upper()
    return wapper

upper=uppercase_decorator(greetings)
print(upper())

Welcome to Python
WELCOME TO PYTHON

In [88]:
#same functionality
def uppercase_decorator(function):
    def wapper():
        func=function()
        return func.upper()
    return wapper

@uppercase_decorator
def greetings():
    return "Welcome to Python"

greetings()

'WELCOME TO PYTHON'

In [90]:
def uppercase_decorator(function):
    def wrapper(sentence: str):
        print(sentence.upper())
        return sentence.upper()
    return wrapper

def words_couont(function):
    def wrapper(sentence: str):
        count=len(sentence.split(' '))
        return count
    return wrapper

#@words_couont
@uppercase_decorator
def get_uppercase_count():
    return "Nothing"


get_uppercase_count('Python is Good')

PYTHON IS GOOD

'PYTHON IS GOOD'

## Errors:
- SyntaxError --> Due to syntax
- NameError --> Due to Mispelled or No local attribute eroor
- ModuleNotFoundError. --> When module is not imported or Defined
- AttributeError --> WHere imported module has no attribute
- KeyError --> When there is mismatch in the keys of dictionary
- TypeError --> When type mismatch happened
- ImportError --> WHen you try to import a module from another module and it is cant be imported
- ValueError. --> When value of attribute has issue
- ZeroDivisionError --> When a number is divided with zero

In [ ]:
#Error Handling

try:
    #main piece of code
except:
    #when there is an exception
else:
    #No exception, then run this code

finally:
    #alwasy run this code

In [94]:
try:
    first_name= input("Enter your first name:")
    last_name=input("Enter your last name: ")
    age=input("enter your year of birth: ")
    age= 2025-int(age)
    print(f'My name is {first_name} {last_name} and my name is {age}')

except Exception as e:
    print(f'the error occured : {e}')
else:
    print('I am from else')
finally:
    print('i am from finnaly block')

the error occured : invalid literal for int() with base 10: 'Abdc'
i am from finnaly block

In [95]:
def sum_of_five_nums(a, b, c, d, e):
    return a + b + c + d + e

lst = [1, 2, 3, 4, 5]
print(sum_of_five_nums(lst))

TypeError: sum_of_five_nums() missing 4 required positional arguments: 'b', 'c', 'd', and 'e'

In [ ]:
#unpacking lists
print(sum_of_five_nums(*lst))

15

In [97]:
#unpacking the dictionary
def unpacking_person_info(name, country, city, age):
    return f'{name} lives in {country}, {city}. He is {age} year old.'
dct = {'name':'Asabeneh', 'country':'Finland', 'city':'Helsinki', 'age':250}
print(unpacking_person_info(dct)) # Asabeneh lives in Finland, Helsinki. He is 250 years old.

TypeError: unpacking_person_info() missing 3 required positional arguments: 'country', 'city', and 'age'

In [98]:
print(unpacking_person_info(**dct))

Asabeneh lives in Finland, Helsinki. He is 250 year old.

In [105]:
#this is arbitary number of attributes comes in to picture
def sum_all(*args):
    print(f'sum of the values {sum(args)}')
    return args

sum_all(1,2,3,4,5)

sum of the values 15

(1, 2, 3, 4, 5)

In [ ]:
def unpacking_dictionary(**kwargs):
    for key in kwargs:
        print(f"{key} = {kwargs[key]}")
    return kwargs

unpacking_dictionary(name="Asabeneh",
      country="Finland", city="Helsinki", age=250)

name = Asabeneh
country = Finland
city = Helsinki
age = 250

{'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}

In [107]:
for index, value in enumerate("Hello world, how are you?".split()):
    print(f'{index}={value}')

0=Hello
1=world,
2=how
3=are
4=you?

In [109]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'lime']                    
vegetables = ['Tomato', 'Potato', 'Cabbage','Onion', 'Carrot']

print(zip(fruits,vegetables))
fruits_and_vegetable=[]

for f,v in zip(fruits,vegetables):
    fruits_and_vegetable.append({'fruit':f,"veg":v})
print(fruits_and_vegetable)

<zip object at 0x11802fec0>
[{'fruit': 'banana', 'veg': 'Tomato'}, {'fruit': 'orange', 'veg': 'Potato'}, {'fruit': 'mango', 'veg': 'Cabbage'}, {'fruit': 'lemon', 'veg': 'Onion'}, {'fruit': 'lime', 'veg': 'Carrot'}]

In [111]:
import typing
typing.__name__

'typing'

In [118]:
class Person:
    class_name= 'Its a class element'
    
    def __init__(self):
        self.obj_name="its a object element"
    

p1=Person()
p2=Person()

print(p1.obj_name, p1.class_name)
print(p2.obj_name, p2.class_name)

its a object element Its a class element
its a object element Its a class element

In [119]:
# Lets change it
p1.class_name="Its a changed class name"
p1.obj_name="p1 class name"

print(p1.obj_name, p1.class_name)
print(p2.obj_name, p2.class_name)

p1 class name Its a changed class name
its a object element Its a class element

In [121]:
class PersonGender(Person):
    def __init__(self,name, gender):
        self.name=name
        self.gender=gender
        super().__init__()

    def get_personinfo(self):
        print(f'Hi,My name is {self.name} and I am {self.gender}')

p3=PersonGender('Chandra', 'Male') 

p3.get_personinfo()

Hi,My name is Chandra and I am Male